/** Add css rules here for your application. */

.dockPanel {
	background-color: transparent;
	background: white;
}


/* used for the Main Menu Bar*/
.topPanel {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color:rgba(245,245,255,0.75);
	border: 10px rgb(255,255, 255) solid;
}

.menuItemLabel {
	font-size: 11pt;
	font-family: "Gotham" sans-serif;
	text-shadow: rgba(245,245,245,0.25) 0.1em 0.1em 0.2em;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	border: 1px rgba(255,255,255) solid;
	width: 200px;
	height: 30px;
	background-color: rgb(0,0,0);
	color:white;
	cursor: pointer;
}

.menuItemLabel:hover {

	background-color: #aabbcc;
	color: white;	
	filter: alpha(opacity=60);
	opacity: 0.6;
	background-color: black;
}

.bottomPanel {
	height: 150px;
	
      background-image: -webkit-gradient(
  linear, top, bottom, from(rgba(0,50,50,0.0)),
  to(rgba(100,80,80,1.0)), color-stop(.5,#333333)
);
	background-color: transparent;
}

.refreshButton {
}
.mainScrollPanel {
	background-color: transparent;
}
.mainPanel {
	font-size: 11pt;
    font-family: "Georgia", serif;
	background-color: transparent;
}

.billNumberLabel {
    font-family: "Georgia", serif;
    font-size: 15pt;
    color:#3a6aad;
    padding-bottom:10px;
}
.billNameLabel {
    font-family: "Georgia", serif;
    font-size: 12pt;
    color:#3a6aad;
    text-align: center;
}
.billDescriptionLabel {
    font-family: "Georgia", serif;
	font-size: 12pt;
    padding: 20px;
    color:#333333;
}
.billPanel {
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left: auto;
	margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80%;
    padding:10px;
	cursor: pointer;
    border:1px #999999 solid;
    background-color: #f1f1f1;
}

.billPanel:hover {
	border:1px #999999 solid;
    background-color: #cccccc;
}

/** Example rules used by the template application (remove for your app) */
.titleLabel {
	width: 100pc;
	height: 100px;
	background: url('canvassLogo.png');
	background-position: top center;
	background-repeat: no-repeat;
	cursor: pointer;
	background-color: white;
	border:white;
	position:relative;
}

.loadingAbsPanel {
	margin:auto;
	position: relative;
	background: transparent;

}

.loadingImage {
	position:absolute;
	top:0;
	bottom:0;
	left: 0;
	right:0;
	margin:auto;
	min-height: 31px;
    opacity: 1;
    -webkit-transition: opacity 100ms ease;
-moz-transition: opacity 100ms ease;
-ms-transition: opacity 100ms ease;
-o-transition: opacity 100ms ease;
transition: opacity 100ms ease;
}

.fadeout {
   opacity: 0;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.voteChoicePanel{
	padding: 15px 50px 15px 50px;
	width: 900px;
	top: -15px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	background-color:rgba(245,245,255,0.25);
	border: 3px rgba(225,225,235, 0.75) solid;	
}

.voteChoice{
	display: block;
	width: 200px;
	padding:  0 15px 0 0;
}

/***** LANDING PAGE *****/
.landingPageMainPanel{
	width: 1000px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('LandingPanel.jpeg');
}

.landingPageMainMenu {
	width: 1007px;
	height:215px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	
}

.menuPageItemLabel {
	font-size: 11pt;
	font-family: "Gotham" sans-serif;
	text-shadow: rgba(127,127,127,0.75) 0.1em 0.1em 0.2em;
	text-align: center;
	vertical-align: middle;
	width: 330px;
	height:200px;
	border:1px rgb(255,255, 255) solid;
	background-image: url('LandingPanel.jpeg');
	cursor: pointer;
	color: white;
}


.menuPageItemLabel:hover {
	border: 1px rgba(100,100,100,0.75) solid;
	color: rgba(255,255,255,0.75);	
	
	filter: alpha(opacity=80);
	opacity: 0.8;
	background-color: black;
}